body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.about{
  border: solid 3px;
  height: 50px;
  width: 50px;
}

.friendList{
  height: auto;
  width: auto;
  border: solid;
}
.feed{
  height: auto;
  width: auto;
  border: solid;
}
.profile{
  height: 50px;
  width: 50px;
  border: solid;
}